$background-color: #214054;
$font-color: hotpink;

.about__container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background: rgb(255, 230, 234);
	background: linear-gradient(0deg, rgba(255, 230, 234, 1) 22%, rgba(61, 140, 170, 1) 100%);
	// background: rgb(61, 140, 170);
	// background: linear-gradient(180deg, rgba(61, 140, 170, 1) 0%, rgba(232, 245, 135, 1) 89%);
}

.about__content {
	margin-top: 100px;
	margin-left: 50px;
}

.about__content > h1 {
	font-size: 50px;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	color: $font-color;
}

// Button Styles

.about_me__buttons > img {
	height: 45px;
	width: 45px;
	margin: 12px;
}

.about_me__buttons {
	margin-top: 5px;
	margin-left: -12px;
}

.profile_button:hover {
	animation: scale1 2s ease infinite;
}
