$background-color: #e3ffcc;
$font-color: #6b6a6a;

.resources__container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	// background-color: $background-color;
	background: rgb(255, 230, 234);
	background: linear-gradient(0deg, rgba(255, 230, 234, 1) 0%, rgba(62, 140, 170, 1) 88%);
}

.resources__content {
	margin-top: 100px;
	margin-left: 50px;
}

.resources__content > h1 {
	font-size: 50px;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	color: $font-color;
}

.resources__content > ul {
	list-style: none;
	font-size: 20px;
}

.resources__content > ul > li {
	margin-bottom: 8px;
}
