$background-color: #e3ffcc;
$font-color: #363636;

.resources__container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background: rgb(232, 245, 135);
	background: linear-gradient(0deg, rgba(232, 245, 135, 1) 0%, rgba(255, 230, 234, 1) 70%);
}

.resources__content {
	margin-top: 100px;
	margin-left: 50px;
}

.resources__content > h1 {
	font-size: 50px;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	color: $font-color;
}
 

.resources__subheading {
	font-size: 25px;
	text-align: left;
	color:$font-color;
	margin-left:0;;
}

 ul  {
	font-size:13px;
	list-style-type: none;
	font-weight: bold;
	padding-left: 0px;
}

 p {
	font-weight:300;
	margin-top: 4px;
	width:40%
}

// Link Styles
a {
	text-decoration: none;
	text-transform: uppercase;
	color:hotpink;
}

a:hover {
	color:burlywood
}


