// $background: #efee9d;

.landing_page_container {
	height: 100vh;
	// background-color: $background-color;
	background: rgb(50, 137, 168);
	background: linear-gradient(0deg, rgba(50, 137, 168, 1) 0%, rgba(255, 230, 234, 1) 100%);
	// background-color: $background;
}
