$background-color: cadetblue;
$margin: 20px;
$height: 90px;
$width: 90px;

.basic_shapes__container > h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	font-size: 45px;
}

.basic_shapes__shapes_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.basic_shapes__circle {
	margin: $margin;
	height: $height + 5px;
	width: $width + 5px;
	background-color: $background-color;
	border-radius: 50%;
}

.basic_shapes__square {
	margin: $margin;
	height: $height;
	width: $width;
	background-color: $background-color;
}

.basic_shapes__triangle {
	margin: $margin;
	height: 0px;
	width: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 90px solid $background-color;
}

.basic_shapes__trapazoid {
	height: 0px;
	width: 70px;
	margin: $margin;
	border-bottom: 90px solid $background-color;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
}
