$background-color: #2f3436;
$margin: 20px;
$height: 90px;
$width: 90px;
$hover: #ffd4f2;

.basic_shapes__container {
	height: 100vh;
	background: #a7ffd8;
}

.basic_shapes__shapes_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.basic_shapes__container > h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	font-size: 45px;
	color: #2f3436;
}

.basic_shapes__circle {
	margin: $margin;
	height: $height + 5px;
	width: $width + 5px;
	background-color: $background-color;
	border-radius: 50%;
}

.basic_shapes__square {
	margin: $margin;
	height: $height;
	width: $width;
	background-color: $background-color;
}

.basic_shapes__triangle {
	margin: $margin;
	height: 0px;
	width: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 90px solid $background-color;
}

.basic_shapes__trapazoid {
	height: 0px;
	width: 70px;
	margin: $margin;
	border-bottom: 90px solid $background-color;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
}

// Hover Styles
.basic_shapes__circle:hover,
.basic_shapes__square:hover {
	background-color: $hover;
}

.basic_shapes__triangle:hover,
.basic_shapes__trapazoid:hover {
	border-bottom: 90px solid $hover;
}

.basic_shapes__circle_container,
.basic_shapes__square_container,
.basic_shapes__triangle_container,
.basic_shapes__trapazoid_container {
	height: 100vh;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	font-size: 40px;
	margin: 5px;
	margin-top: 15px;
}

h4 {
	text-align: center;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	font-size: 15px;
	margin: 0;
}
