// $background: #dbc6eb;
$font-color: #8ae3ba;
$hover-color: #ffe6ea;

.navbar {
	top: 0;
	z-index: 2;
	// background-color:$background;
	position: fixed;
	overflow: hidden;
	height: 70px;
	width: 100vw;
	display: flex;
	justify-content: flex-end;
	// margin-right: 50px;
	// align-items: center;
}

.navbar > ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1.45em;
	margin-right: 40px;
}

.navbar > ul > li {
	margin-left: 20px;
}

.navbar > ul > li > a {
	text-decoration: none;
	color: $font-color;
}

.navbar > ul > li > a:hover {
	color: $hover-color;
}

.navbar > ul > li > a:active {
	color: $hover-color;
}

.backHome > ul > li {
	list-style-type: none;
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}
